* {
    font-family: 'PT Sans', sans-serif;
    color: #92c153;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    /*color: #dadadc;*/
}

body {
    /*background-color: #161719;*/
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    background: #545557;
    background: -webkit-linear-gradient(left, #080808, #545557);
    background: -o-linear-gradient(left, #080808, #545557);
    background: -moz-linear-gradient(left, #080808, #545557);
    background: linear-gradient(left, #080808, #545557);
}

hr {
    /*border-bottom: 1px solid #78ac39;*/
    border-top: 1px solid #6ebf6e;
    color: #5eaf5e;
    opacity: 0.2;
}

strong {
    font-size: 16px;
}

.brand {
    font-size: 14px !important;
    /*padding: 25px;*/
}

.brand-coursive {
    font-family: "Bilbo", cursive ! important;
    font-size: 28px;
    font-weight: 400;
}

.brand a,
.brand a:hover,
.brand a:focus,
.brand a:visited {
    color: #b8ec79;
    text-shadow: 0 1px 1px rgba(55, 120, 60, 0.7);

}

.high-color {
    color: #b8ec79;
}

.low-color {
    color: #4cae4c;
}


.prefix {
    font-family: 'Baloo Bhai', cursive;
    font-size: 48px;
}

.suffix {
    font-family: 'Baloo Bhai', cursive;
    font-size: 48px;
}

.navbar {
    box-shadow: 0 3px 10px 10px rgba(255, 255, 255, 0.05) !important;
    min-height: 60px;
}

.nav {
    color: #f18b65 !important;
}

.navbar-static-top {
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 0 !important;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-inverse .navbar-collapse {
    display: inline-block !important;
    width: auto;
    float: right;
    margin-top: 8px;
}

.profile > li {
    padding: 15px 0 0 0;
}

.profile > li > a {
    width: auto;
    display: inline-block;
    padding: 0 20px;
}

.profile > li > ul.dropdown-menu,
.profile > li > a,
.profile > li > ul.dropdown-menu > li > a {
    background-color: #252527;
    color: #b8ec79 !important;
}

/* count indicator near icons */
.nav > li .count {
    position: absolute;
    bottom: 12px;
    right: 6px;
    font-size: 9px;
    background: rgba(51, 200, 51, 0.55);
    color: rgba(255, 255, 255, 0.9);
    line-height: 1em;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    color: #b8ec79;
}

.well {
    background-color: rgba(117, 153, 127, 0.4);
    border: 1px solid rgba(110, 191, 110, 0.2);
    color: #f7f8e2;
}

i {
    font-size: 16px;
}

.nav > li > a {
    color: #90be51;;
    font-size: 16px;
    /*padding: 7px 130px 7px 35px!important;*/
}

.state-label {
    display: inline-block;
    width: 33px;
    height: 33px;
    vertical-align: middle;
}

.ok {
    background: url("../img/Labels.png") 0 0;
    background-size: 33px;
}

.warn {
    background: url("../img/Labels.png") 0 -33px;
    background-size: 33px;
}

.atten {
    background: url("../img/Labels.png") 0 -66px;
    background-size: 33px;
}

.fail {
    background: url("../img/Labels.png") 0 -98px;
    background-size: 33px;
}

.waiting {
    background: url("../img/Spinner.gif") 0 0;
    background-size: 33px;
}

.tree-branch {
    background: url("../img/tree.png") 0 0;
    background-size: 22px;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.tree-expanded {
    background: url("../img/collapse.png") 0 0 !important;
    background-size: 15px;
}

.lost {
    background: url("../img/Labels.png") 0 -130px;
    background-size: 33px;
}


.server-line {
    padding: 9px 0;
    cursor: pointer;
}

.between {
    display: flex !important;
    justify-content: baseline; /*space-between;*/
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(110, 191, 110, 0.14);
}

.glyphicon {
    color: #b8ec79;
}

.glyph-pad-right:before {
    padding-right: 8px;
}

.nice-box,
div .container {
    background-color: #252527;
    position: relative;
    padding: 12px;
}

.nice-box-tabbed {
    margin-bottom: 5px !important;
    font-weight: bold;
    font-size: 18px !important;
    color: #b8ec79;
    position: relative;
    padding: 12px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid rgba(110, 191, 110, 0.2);
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td,
.table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid rgba(110, 191, 110, 0.2);
    border-top: 1px solid rgba(110, 191, 110, 0.2);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(110, 191, 110, 0.12);
}

.table > .thead-dark > tr {
    background-color: rgba(110, 191, 110, 0.12);
}

.table > thead > tr > th {
    border-bottom: 2px solid rgba(110, 191, 110, 0.22);
    color: #b8ec79;
}


.nice-table > tbody > tr > th {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: rgba(184, 236, 121, 0.9);
}

.nice-box:after,
div .container:after {
    content: '';
    position: absolute;
    display: block;
    right: 0px;
    bottom: 0px;
    width: 8px;
    height: 8px;
    border-right: 2px solid #545557;
    border-bottom: 2px solid #545557;
}

.padding-20 {
    padding: 20px;
}

.glyphicon-alert {
    /*color: #fdb553;*/
}

.nice-box > li > .header {
    font-weight: bold;
    color: rgba(184, 236, 121, 0.9) ! important;
    font-style: inherit ! important;
}

.nice-box > li > ul > li > a {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrap {
    min-height: 100%;
    margin-bottom: 60px;
}

.footer {
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear: both;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    /*background-color: #f5f5f5;*/
    /*box-shadow: -3px 3px 10px 10px rgba(255, 255, 255, 0.05) !important;*/
    background-color: #222;
    border-color: #080808;
    /*padding-top:20px*/
}

.server-link {
    display: inline-block;
    color: rgba(184, 236, 121, 0.9) ! important;
    /*max-width: 80%;*/
}

.group-link {
    display: inline-block;
    color: rgba(184, 236, 121, 0.9) ! important;
}

/*.server-link:hover {*/
/*    text-decoration: underline;*/
/*}*/

.loadingDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #475;
    background-image: url('../img/buffer-gif-8.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px 45px;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    display: none;
}

.ticket {
    vertical-align: top;
    display: inline-block;
    width: auto;
    text-overflow: ellipsis;
    max-width: 140px;
    min-width: 110px;
    min-height: 110px;
    max-height: 110px;
    height: auto;
    border-radius: 4px;
    border: 1px solid rgba(146, 193, 83, 0.4);
    box-shadow: 3px 3px 5px 5px rgba(146, 193, 83, 0.2);
    padding: 2px 10px 5px 10px;
    margin: 10px;
    text-align: justify;
    position: relative;
}

.small-ticket {
    vertical-align: top;
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 4px;
    border: 1px solid rgba(146, 193, 83, 0.4);
    box-shadow: 3px 3px 5px 5px rgba(146, 193, 83, 0.2);
    padding: 6px;
    margin: 0 10px 10px 0;
    text-align: left;

}

.alarm {
    background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 20px,
            rgba(255, 0, 0, 0.4) 20px,
            rgba(255, 0, 0, 0.4) 40px /*rgba(146, 193, 83, 0.4),*/ /*rgba(146, 193, 83, 0.4) 20px,*/ /*-45deg,*/ /*transparent,*/ /*#92c153 30px,*/ /*#92c153 30px*/
    );
}

.warning {
    background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 20px,
            rgba(51, 200, 51, 0.4) 20px,
            rgba(51, 200, 51, 0.4) 40px /*rgba(146, 193, 83, 0.4),*/ /*rgba(146, 193, 83, 0.4) 20px,*/ /*-45deg,*/ /*transparent,*/ /*#92c153 30px,*/ /*#92c153 30px*/
    );
}

.attention {
    background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 20px,
            rgba(255, 200, 0, 0.4) 20px,
            rgba(255, 200, 0, 0.4) 40px /*rgba(146, 193, 83, 0.4),*/ /*rgba(146, 193, 83, 0.4) 20px,*/ /*-45deg,*/ /*transparent,*/ /*#92c153 30px,*/ /*#92c153 30px*/
    );
}

.ticket:hover {
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
}

.gutter-vertical:hover {
    cursor: row-resize;
}

.gutter-horizontal {
    width: 4px !important;
    background-color: black;
    /*border-left: 1px solid #6ebf6e;*/
    /*border-right: 1px solid #6ebf6e;*/
    /*opacity: 0.2;*/
}

/*rgba(110, 191, 110, 1)*/

.gutter-vertical {
    height: 4px !important;
    background-color: black;
    /*border-top: 1px solid #6ebf6e;*/
    /*border-bottom: 1px solid #6ebf6e;*/
    /*opacity: 0.3;*/
}

.split, .gutter.gutter-horizontal {
    float: left;
}

/* width */
.left-main::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.left-main::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
.left-main::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.left-main::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.glyphicon {
    /*top: 24px !important;*/
}

.badge {
    position: absolute;
    top: -10px;
    margin-left: -5px;
    background-color: #000000 !important;
}

.status-error {
    color: #ff3853;
}

.status-fail {
    color: rgba(255, 10, 10, 1);
}

.status-attention {
    color: rgba(255, 200, 0, 0.8);
}

.status-warning {
    color: rgba(51, 255, 91, 0.8);
}

.main-page {
    min-height: 95vh;
}

.top-main {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
}

.tabbed {
    width: 70%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    box-shadow: 0 3px 10px 10px rgba(0, 0, 0, 0.05);
}

.ticket-line {
    overflow: hidden;
    width: auto;
    display: inline-block;
}

.ticket-line-text-box {
    overflow: hidden;
    height: 100%;
    /*min-width: 100px;*/
}

.ticket-line-glyph-box {
    float: right;
    width: auto;
    height: 100%;
    padding: 5px 10px;
}

.ticket-line > div > .glyphicon {
    display: block;
    float: right;
}

input[type=text],
input[type=password] {
    padding: 5px;
    /*margin: 2px 0 5px 10px;*/
    width: 100%;
    border: none;
    background-color: #daf7b8 !important;
    font-size: 18px !important;
    color: #2b2b2b;
    font-weight: normal;
    font-size: 15.5px !important;
}

.text-input {
    padding: 5px;
    margin: 2px 0 5px 10px;
    border: none;
    background-color: #daf7b8 !important;
    font-size: 18px !important;
    color: #2b2b2b;
    font-weight: normal;
    font-size: 15.5px !important;
    margin: 0px 0 10px 0px;
}

.textarea-feature {
    resize: vertical;
    /*width: 560px;*/
    width: 100%;
    background-color: #DAF7B8;
}


a[type=cancel],
button[type=submit],
input[type=submit] {
    padding: 5px;
    /*margin: 10px 0 5px 0;*/
    border: none;
    font-size: 15px !important;
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    color: #b8ec79;
}

a[type=cancel]:focus,
button[type=submit]:focus {
    outline: #b8ec79 thin dotted;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #202b23 inset !important;
    outline: #b8ec79;
    font-size: 18px !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #b8ec79 !important;
    font-size: 18px !important;
}

*:focus {
    outline: none;
}

.server-short-info > li > a {
    font-size: 12.5px !important;
    padding: 4px 15px 4px 45px;
}

.form-box {
    margin: 20px auto;
    display: block;
    width: 30%;
    position: relative;
}


.form-box > form > table > tbody > tr > td > label,
.form-box > form > div.row > div > label {
    font-weight: normal;
    color: #b8ec79;
    font-size: 16px;
    height: 100%;
}

.form-box > form > div.row > div {
    display: inline-block;
    vertical-align: middle;
    /*float: none;*/
}

@media (min-width: 768px) {
    .flex-group {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }

    .form-horizontal .flex-group .control-label {
        padding-top: 0;
    }
}

.form-box > form > table > tbody > tr > td > input[type=text] {
    /*margin: 0px 0 10px 20px;*/
}

.form-box > form > div > a[type="cancel"] {
    color: #b8ec79;
}

.play-bar {
    display: inline-block;
    margin-left: 137px;
    margin-top: 22px;
}

.play-bar-button {
    font-size: 18px;
    margin-right: 40px;
    vertical-align: middle;
    margin-top: -7px;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    display: inline-block;
    /*font-family: Arial;*/
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: #080808;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #B8EC79 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #B8EC79 transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #B8EC79;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    font-size: 18px;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #080808;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.topic-caption {
    margin-bottom: 5px !important;
    font-weight: bold;
    font-size: 17px !important;
    color: #b8ec79;
    padding: 12px !important;
}

.topic-body {
    padding: 10px;
}

.tool-box {
    border-bottom: 2px solid rgba(110, 191, 110, 0.22);
    color: #b8ec79;
    background-color: rgba(110, 191, 110, 0.12);
    height: 39px;
}

table.topic-table > tbody > tr > td:first-child {
    padding-left: 20px;
}

table.topic-table > tbody > tr > td:last-child {
    padding-right: 20px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:link {
    color: #b8ec79;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(96, 176, 96, 0.7);
    border-bottom-color: black;
}

.nav-tabs > li > a:hover {
    color: #b8ec79;
    border: 1px solid rgba(96, 176, 96, 0.4);
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid rgba(96, 176, 96, 0.7);
}