* {
    font-family: "PT Sans", sans-serif;
}

html {
    margin: 0;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    border: solid 1px #818182;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.jumbotron p {
    font-size: 14px;
}

body {
    color: #212529;
    background-color: #fff;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.3;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

footer {
    width: 100%;
    background-color: #d3d9df;
    position: absolute;
    bottom: 0;
    /*    position: relative;*/
    /*    margin-top: -150px;  */
    height: 50px;
    clear: both;
    padding: 8px;
}

footer p {
    padding: 10px;
    margin-bottom: 0;
}

#boffin-setup table tbody tr td a.glyphicon-question-sign {
    width: 30px;
    height: 30px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
}

/** @brief Text owerflow in tables large text field */
.table tbody tr td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.p-2.deal:hover {
    cursor: pointer;
}

.exposition tbody tr td {
    text-overflow: clip;
    max-width: none;
    overflow: visible;
    white-space: normal;
}

.hash {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}

.hashExpanded {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px;
}

/*#toggle-model {
    display: none;
}*/

#simulation-caption:hover {
    cursor: pointer;
}

.container canvas {
    background-color: #fefefe !important;
}

.container .jumbotron {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

}

@media (min-width: 576px) {
    .container .jumbotron {
        padding: 2rem 2rem;
    }
}

#jumbo-display {
    position: absolute;
    display: block;
    width: 50%;
    right: 0px;
    top: 60px;
    margin-bottom: 0;
    margin: auto 20px 0;
}

#jumbo-display tbody tr td {
    width: 100%;
}

#nodes {
    font-size: 12px;
}

#deals {
    font-size: 12px;
}

@media (max-width: 767px) {
    #jumbo-display {
        clear: both;
        position: relative;
        display: table-row;
        width: 100%;
        bottom: auto;
        margin: -40px 0 0 0;
    }

    .exposition tbody tr td {
        width: 100%;
    }

    .container .jumbotron {
        display: table;
        overflow: auto;
    }

    #jumbo-display {
        float: none;
        width: 100%;
    }
}

@media (min-width: 767px) {
    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.ui-wrapper {
    width: 100% !important;
}

.card-body {
    padding: 0.8rem;

}

.footer {
    /*    position: relative;
        margin-top: -150px;  negative value of footer height 
        height: 150px;
        clear:both;
        padding-top:20px;*/
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.help:after {
    content: '';
    /*    left: calc(100%);
        top: 0;*/
    position: absolute;
    /*    height: calc(100%);*/
    height: 17px;
    width: 26px;
    background-image: url(../img/help.png);
    background-repeat: no-repeat;
    background-position: 4px center;
}

.tooltip {
    position: absolute;
    top: 100%;
    left: calc(width / 2);
    color: #fff;
    background-color: #000000;
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    z-index: 3500;
    max-width: 300px;
    overflow-wrap: break-word;
    text-align: justify;
}

.help:hover:before {
    content: attr(data-help);
    position: absolute;
    top: 100%;
    left: calc(width / 2);
    color: #fff;
    background-color: #000000;
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    z-index: 3500;
    max-width: 300px;
    min-width: 150px;
    overflow-wrap: break-word;
    text-align: justify;
}

.worker {
    cursor: pointer;
}
