/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 3, 2019, 2:33:40 PM
    Author     : zipper
*/

/*! Primitive
  by Tania Rascia */


/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    box-sizing: content-box
}

pre {
    overflow: auto
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

figure {
    margin: 0
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem
}

body {
    color: #404040;
    background: #fff;
    font-size: 1rem
}

dl,
ol,
p,
table,
ul {
    margin: 0 0 1.5rem
}

ol li ol,
ul li ul {
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #404040
}

h1,
h1:not(:first-child),
h2,
h2:not(:first-child),
h3,
h3:not(:first-child),
h4,
h4:not(:first-child),
h5,
h5:not(:first-child) {
    margin: 1.5rem 0
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 2rem
}

h1 {
    font-size: 1.75rem
}

h2 {
    font-size: 1.5rem
}

h3 {
    font-size: 1.25rem
}

h4 {
    font-size: 1.1rem
}

h5 {
    font-size: 1rem
}

@media (min-width: 600px) {
    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child) {
        margin-top: 2.5rem
    }

    h1 {
        font-size: 2.25rem
    }

    h2 {
        font-size: 2rem
    }

    h3 {
        font-size: 1.75rem
    }

    h4 {
        font-size: 1.5rem
    }

    h5 {
        font-size: 1.25rem
    }
}

a {
    color: #0366ee;
    text-decoration: none
}

a:active,
a:focus,
a:hover {
    color: #0246a2;
    text-decoration: underline
}

mark {
    background: #ffeea8;
    padding: 0 .2rem
}

blockquote {
    margin: 0 0 1.5rem;
    border-left: 16px solid #f0f0f0;
    padding: 0 1.5rem;
    font-size: 1.5rem
}

blockquote cite {
    display: block;
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: right
}

pre {
    border: 0;
    border-radius: 4px;
    background: transparent;
    padding: 1rem;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    color: #404040;
    font-size: 14px;
    margin: 0 0 1.5rem
}

pre,
pre code {
    font-family: Menlo, monospace
}

pre code {
    line-height: 1.2
}

kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 2px #fff;
    color: #333;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .6em;
    text-shadow: 0 1px 0 #fff
}

:not(pre) > code {
    color: #404040;
    background: transparent;
    font-family: Menlo, monospace;
    font-size: 14px;
    padding: 0 .2rem;
    border: 1px solid #dedede;
    border-radius: 4px
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid #dedede
}

dt {
    font-weight: 600
}

dd {
    margin-bottom: .5rem
}

.full-container {
    max-width: 100%;
    padding: 0 1rem
}

.container,
.medium-container,
.small-container {
    max-width: 1200px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto
}

.small-container {
    max-width: 800px
}

.medium-container {
    max-width: 1000px
}

.content-section {
    padding: 30px 0
}

@media (min-width: 600px) {
    .content-section {
        padding: 60px 0
    }
}

.flex-large,
.flex-small {
    padding-left: 1rem;
    padding-right: 1rem
}

.flex-row {
    margin-left: -1rem;
    margin-right: -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-large,
.flex-small {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 1rem
}

@media (min-width: 600px) {
    .flex-small {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
        flex: 1 1 0;
        margin-bottom: 0
    }
}

@media (min-width: 1000px) {
    .flex-large {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
        flex: 1 1 0;
        margin-bottom: 0
    }
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: block
}

.clearfix:after {
    clear: both
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.vertical-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.responsive-image {
    max-width: 100%;
    height: auto
}

.show {
    display: block !important
}

.hide {
    display: none !important
}

.invisible {
    visibility: hidden
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.no-padding-top {
    padding-top: 0
}

.no-padding-bottom {
    padding-bottom: 0
}

.padding-top {
    padding-top: 2rem
}

.padding-bottom {
    padding-bottom: 2rem
}

.no-margin-top {
    margin-top: 0
}

.no-margin-bottom {
    margin-bottom: 0
}

.margin-top {
    margin-top: 2rem
}

.margin-bottom {
    margin-bottom: 2rem
}

.alternate-background {
    background: #fafafa;
    color: #404040
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.button,
[type=button],
[type=reset],
[type=submit],
a.button,
button {
    -webkit-appearance: none;
    display: inline-block;
    border: 1px solid #0366ee;
    border-radius: 4px;
    background: #0366ee;
    color: #fff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-transform: none;
    padding: .75rem 1.25rem;
    margin: 0 0 .5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1
}

.button:active,
.button:focus,
.button:hover,
[type=button]:active,
[type=button]:focus,
[type=button]:hover,
[type=reset]:active,
[type=reset]:focus,
[type=reset]:hover,
[type=submit]:active,
[type=submit]:focus,
[type=submit]:hover,
a.button:active,
a.button:focus,
a.button:hover,
button:active,
button:focus,
button:hover {
    border: 1px solid #0250bc;
    background: #0250bc;
    color: #fff;
    text-decoration: none
}

.button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
a.button::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.accent-button,
a.accent-button {
    color: #fff;
    border: 1px solid #fcb42a;
    background: #fcb42a
}

.accent-button:active,
.accent-button:focus,
.accent-button:hover,
a.accent-button:active,
a.accent-button:focus,
a.accent-button:hover {
    color: #fff;
    border: 1px solid #f09f03;
    background: #f09f03
}

.muted-button,
a.muted-button {
    background: transparent;
    border: 1px solid #cdcdcd;
    color: #4e4e4e
}

.muted-button:active,
.muted-button:focus,
.muted-button:hover,
a.muted-button:active,
a.muted-button:focus,
a.muted-button:hover {
    color: #4e4e4e;
    border: 1px solid #818181;
    background: transparent
}

.round-button,
a.round-button {
    border-radius: 40px
}

.square-button,
a.square-button {
    border-radius: 0
}

.full-button,
a.full-button {
    display: block;
    width: 100%
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
    display: block;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: .75rem;
    outline: none;
    background: transparent;
    margin-bottom: .5rem;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    line-height: 1
}

[type=color]:hover,
[type=date]:hover,
[type=datetime-local]:hover,
[type=datetime]:hover,
[type=email]:hover,
[type=month]:hover,
[type=number]:hover,
[type=password]:hover,
[type=search]:hover,
[type=tel]:hover,
[type=text]:hover,
[type=time]:hover,
[type=url]:hover,
[type=week]:hover,
select:hover,
textarea:hover {
    border: 1px solid #b4b4b4
}

[type=color]:active,
[type=color]:focus,
[type=date]:active,
[type=date]:focus,
[type=datetime-local]:active,
[type=datetime-local]:focus,
[type=datetime]:active,
[type=datetime]:focus,
[type=email]:active,
[type=email]:focus,
[type=month]:active,
[type=month]:focus,
[type=number]:active,
[type=number]:focus,
[type=password]:active,
[type=password]:focus,
[type=search]:active,
[type=search]:focus,
[type=tel]:active,
[type=tel]:focus,
[type=text]:active,
[type=text]:focus,
[type=time]:active,
[type=time]:focus,
[type=url]:active,
[type=url]:focus,
[type=week]:active,
[type=week]:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
    border: 1px solid #0366ee;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 0 6px #8cbcfe
}

textarea {
    overflow: auto;
    height: auto
}

fieldset {
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 1rem;
    margin: 1.5rem 0
}

legend {
    padding: 0 .5rem;
    font-weight: 600
}

select {
    color: #404040;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) 100% no-repeat;
    line-height: 1
}

select::-ms-expand {
    display: none
}

[type=range] {
    width: 100%
}

label {
    font-weight: 600;
    max-width: 100%;
    display: block;
    margin: 1rem 0 .5rem
}

@media (min-width: 600px) {
    .split-form label {
        text-align: right;
        padding: 0 .5rem;
        margin-bottom: 1rem
    }
}

input.has-error,
input.has-error:active,
input.has-error:focus,
input.has-error:hover,
select.has-error,
select.has-error:active,
select.has-error:focus,
select.has-error:hover,
textarea.has-error,
textarea.has-error:active,
textarea.has-error:focus,
textarea.has-error:hover {
    border: 1px solid #d33c40;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 0 6px #f4cecf
}

:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
    color: #9a9a9a
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%
}

thead th {
    border-bottom: 2px solid #dedede
}

tfoot th {
    border-top: 2px solid #dedede
}

td {
    border-bottom: 1px solid #dedede
}

td,
th {
    text-align: left;
    padding: .5rem
}

caption {
    padding: 1rem 0;
    caption-side: bottom;
    color: #ababab
}

.striped-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8
}

.contain-table {
    overflow-x: auto
}

@media (min-width: 600px) {
    .contain-table {
        width: 100%
    }
}


/*# sourceMappingURL=main.css.map */