{{ define "allServers" }}
    <div class="left-main" style="overflow-x: hidden; overflow-y: auto;">
        <div class="nice-box text-left topic-caption">
            <i class="glyphicon glyphicon-stats" style="padding-right: 30px; "></i>
            Работа сервисов
            {{ if eq .Account.Type 1}}
                <div style="float: right; display: inline-block; padding-top: 3px;">
                    <a href="/form-server"><i class="glyphicon glyphicon glyphicon-plus"
                                              title="Добавить сервер"></i></a>
                </div>
            {{ end}}
        </div>
        <table class="table table-dark topic-table"
               style="margin-bottom: 0!important;">
            <thead class="thead-dark">
            <tr>
                <th width="25%" style="text-align: left;">Сервер</th>
                <th style="text-align: left;">Сервис</th>
            </tr>
            </thead>
            <tbody>
            {{ range $index, $server := .AppConfig.Servers }}
                {{ if eq ($server.HaveToggled nil) true }}
                    <tr>
                        <td style="text-align: left!important; vertical-align: middle;">
                            <a href="/server?s={{ $index }}" class="server-link"
                               data-server="{{ $index }}">{{ $server.Alias }}</a>
                        </td>
                        <td style="vertical-align: middle;">
                            {{ if eq ($server.Error) true }}
                                <div class="ticket-line">
                                    <div class="ticket-line-glyph-box">
                                        <i class="glyphicon glyphicon-alert float-right"
                                           style="color: #ff3853"
                                           title="Фатальная ошибка"></i>
                                    </div>
                                    <div class="ticket-line-text-box">
                                        <h5>Нет соединения: {{ $server.Status }}</h5>
                                    </div>
                                </div>
                            {{ else  }}
                                {{ range $i, $s := $server.Services }}
                                    {{ with $s }}
                                        {{ $success := $server.HaveToggled $s }}
                                        {{ if eq ($server.HaveToggled $s) true }}
                                            <div class="ticket-line">
                                                {{ .Name }}
                                                {{ $warnings := .StatusTypeCount 1 }}
                                                {{ $attentions := .StatusTypeCount 2 }}
                                                {{ $fails := .StatusTypeCount 3 }}
                                                <div class="ticket-line-glyph-box">
                                                    {{ $href := (printf "/group?s=%v&v=%v" $index $i) }}
                                                    {{ if gt $warnings 0 }}
                                                        <a href="{{ $href }}"
                                                           class="glyphicon glyphicon-warning-sign float-right status-warning"
                                                           title="Требует внимания"><span
                                                                    class="badge">{{ $warnings }} </span></a>
                                                    {{ end }}
                                                    {{ if gt $attentions 0 }}
                                                        <a href="{{ $href }}"
                                                           class="glyphicon glyphicon-warning-sign float-right status-attention"
                                                           title="Предупреждения"><span
                                                                    class="badge">{{ $attentions }} </span></a>
                                                    {{ end }}
                                                    {{ if gt $fails 0 }}
                                                        <a href="{{ $href }}"
                                                           class="glyphicon glyphicon-alert float-right status-fail"
                                                           title="Фатальная ошибка"><span
                                                                    class="badge">{{ $fails }} </span></a>
                                                    {{ end }}
                                                </div>
                                            </div>
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
            {{ end }}
            </tbody>
        </table>
    </div>
{{ end }}