{{ define "clusters" }}
    {{ $accountType := .Account.Type }}
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="text-left">
                {{ if eq .Account.Type 1}}
                    <div style="float: right; display: inline-block; padding: 0px 0 8px 0; margin: 8px 20px 8px 8px; font-size: 12px; color: #b8ec79; vertical-align:middle">
                        Добавить кластер
                        <a href="/form-cluster"><i class="glyphicon glyphicon glyphicon-plus" style="margin-left: 10px; margin-top: 10px;"
                                                   title="Добавить кластер" ></i></a>
                    </div>
                {{ end}}
            </div>
            <div class="top-main">
                <table class="table"
                       style="margin-bottom: 0!important;">
                    <thead class="thead-dark">
                    <tr>
                        <th width="20%" style="text-align: left!important;">Наименование</th>
                        {{ if eq $accountType 1}}
                            <th style="text-align: left!important;"></th>
                        {{ end}}
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $i, $p := .AppConfig.Clusters }}
                        <tr>
                            <td style="text-align: left!important; vertical-align: middle;">
                                <div class="parameter-link">{{ $p }}</div>
                            </td>
                            {{ if eq $accountType 1}}
                                <td style="vertical-align: middle;">
                                    <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                                        <a href="/delete-cluster?c={{ $i }}"><i
                                                    class="glyphicon glyphicon glyphicon-trash"
                                                    title="Удалить"></i></a>
                                    </div>
                                    <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                                        <a href="/form-cluster?c={{ $i }}"><i
                                                    class="glyphicon glyphicon glyphicon-edit"
                                                    title="Редактировать"></i></a>
                                    </div>
                                </td>
                            {{ end}}
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{ end }}