{{ define "envPage" }}
    {{ $account := .Account }}
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="text-left">
                {{ if eq $account.Type 1}}
                    <div style="float: right; display: inline-block; padding: 0px 0 8px 0; margin: 8px 20px 8px 8px; font-size: 12px; color: #b8ec79; vertical-align:middle">
                        Добавить переменную
                        <a href="/form-env"><i class="glyphicon glyphicon glyphicon-plus"
                                               style="margin-left: 10px; margin-top: 10px;"
                                               title="Добавить переменную"></i></a>
                    </div>
                {{ end}}
            </div>
            <div class="top-main">
                <table class="table"
                       style="margin-bottom: 0!important;">
                    <thead class="thead-dark">
                    <th>Наименование</th>
                    <th>Значение</th>
                    {{ if eq $account.Type 1}}
                        <th>
                        </th>
                    {{ end }}
                    </thead>
                    {{ with .AppConfig.EnvData }}
                        {{ range $i, $e := . }}
                            <tr>
                                <td>{{ $i }}</td>
                                <td>{{ $e }}</td>
                                {{ if eq $account.Type 1}}
                                    <td>
                                        <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                                            <a href="/delete-env?e={{ $i }}"><i
                                                        class="glyphicon glyphicon glyphicon-trash"
                                                        title="Удалить"></i></a>
                                        </div>
                                        <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                                            <a href="/form-env?e={{ $i }}"><i
                                                        class="glyphicon glyphicon glyphicon-edit"
                                                        title="Редактировать"></i></a>
                                        </div>
                                    </td>
                                {{ end }}
                            </tr>
                        {{ end }}
                    {{ end }}
                </table>
            </div>
        </div>
    </div>
{{ end }}