{{ define "footer" }}
    <footer class="text-center footer">EvoBox monitor © 2K20</footer>

    <div class="modal" id="addWidgetModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Add Widget</h4>
                </div>
                <div class="modal-body">
                    <p>Add a widget stuff here..</p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <a href="#" class="btn btn-primary">Save changes</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dalog -->
    </div>
    <!-- /.modal -->
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src="js/save.js"></script>
    <script type='text/javascript' src="js/split/split.min.js"></script>
    <script type='text/javascript' src="bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="js/selector.js"></script>

    <!-- JavaScript jQuery code from Bootply.com editor  -->

    <script type='text/javascript'>
        // jQuery(function ($) {
        //     var _oldShow = $.fn.show;
        //     $.fn.show = function (speed, oldCallback) {
        //         return $(this).each(function () {
        //             var obj = $(this),
        //                 newCallback = function () {
        //                     if ($.isFunction(oldCallback)) {
        //                         oldCallback.apply(obj);
        //                     }
        //                     obj.trigger('afterShow');
        //                 };
        //             // you can trigger a before show if you want
        //             obj.trigger('beforeShow');
        //
        //             // now use the old function to show the element passing the new callback
        //             _oldShow.apply(obj, [speed, newCallback]);
        //         });
        //     }
        // });

        $(document).ready(function () {
            $(".alert").addClass("in").fadeOut(500);
            /* swap open/close side menu icons */
            $('[data-toggle=collapse]').click(function () {
                // toggle icon
                // $(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");

            });

            $(".tree-branch").click(function () {
                if ($(this).hasClass("tree-expanded")) {
                    $(this)
                        .removeClass("tree-expanded")
                        .attr("title", "Развернуть все");
                    saveParameter("UiTestExpanded", false);
                    $("[id*='test-']")
                        .addClass("in")
                        .attr("aria-expanded", true);
                } else {
                    $(this)
                        .addClass("tree-expanded")
                        .attr("title", "Свернуть все");
                    saveParameter("UiTestExpanded", true);
                    $("[id*='test-']")
                        .removeClass("in")
                        .attr("aria-expanded", false);
                }
            });

            // $("body").on('DOMSubtreeModified', ".select-selected", function(e) {
            //     console.log(e, ",  ", $(this).attr("number"));
            // });

            $("#cluster-selector").change(function (e) {
                var index = $(this).val();
                saveParameter("UiClusterId", index);
                location.reload();
                console.log(index);
            });
            // $( "select" ).change(function () {
            //         var str = "";
            //         $( "select option:selected" ).each(function() {
            //             str += $( this ).text() + " ";
            //         });
            //         // $( "div" ).text( str );
            //         console.log(str)
            //     }).change()

            // $(".select-selected").change(function () {
            //         // var str = "";
            //         // $("select option:selected").each(function () {
            //         //     str += $(this).text() + " ";
            //         // });
            //         // $("div").text(str);
            //     console.log($(this).text())
            //     }).change();

            var tid = 0,
                delay = 1000,
                number = 0,
                stepCollate = function () {
                    console.log("Fire timeout({{ .AppConfig.Increment }})...", number);
                    if (number < {{ .AppConfig.Increment }}) {
                        $("[data-state-point=" + number + "]").removeClass("waiting");
                        $("[data-state-point=" + number + "]").addClass($("[data-state-point=" + number + "]").data("state"));
                        $("[data-info-toggle=" + number + "]").css({display: "inline-block"});
                        $(".play").css({pointerEvents: "auto", color: "#b8ec79"});
                        tid = setTimeout($.proxy(stepCollate, this), delay * (0.05 + Math.random() * 0.95));
                        number++;
                    } else {
                        $(".stop").trigger("click");
                    }
                };


            $(".play").click(function (e) {
                console.log(e);
                $("*[data-state-point]").removeClass("fail lost warn ok atten");
                $("*[data-state-point]").addClass("waiting");
                $("*[data-info-toggle]").css({display: "none"});
                $(this).css({pointerEvents: "none", color: "gray"});

                tid = setTimeout($.proxy(stepCollate, this), delay * (0.05 + Math.random() * 0.95));
            });

            $(".pause").click(function (e) {
                console.log(e);
                if (tid != 0) {
                    clearTimeout(tid);
                    tid = 0;
                } else {
                    tid = $.proxy(setTimeout(stepCollate, this), delay * (0.05 + Math.random() * 0.95));
                }
            });


            $(".stop").click(function (e) {
                console.log(e);
                $("*[data-state-point]").removeClass("waiting");
                for (var i = 0; i < {{ .AppConfig.Increment }}; ++i) {
                    $("[data-state-point=" + i + "]").addClass($("[data-state-point=" + i + "]").data("state"));
                }
                $("*[data-info-toggle]").css({display: "inline-block"});
                $(".play").css({pointerEvents: "auto", color: "#b8ec79"});
                clearTimeout(tid);
                tid = 0;
                number = 0;
            });

            {{ if eq .AppConfig.UiTestExpanded true }}
            $(".tree-branch").trigger("click");
            {{ end }}

            $("#JSONEditor").children().hide();
            $('#CreateFromJSON').val($(this).is(':checked'));
            $('#CreateFromJSON').change(function() {
                if($(this).is(":checked")) {
                    $("#JSONEditor").children().show();
                    // var returnVal = confirm("Are you sure?");
                    // $(this).attr("checked", returnVal);
                } else {
                    $("#JSONEditor").children().hide();
                }
                $('#CreateFromJSON').val($(this).is(':checked'));
            });

            // jQuery(function ($) {
            //     $('#JSONEditor')
            //         .bind('beforeShow', function () {
            //             console.log('beforeShow');
            //         })
            //         .bind('afterShow', function () {
            //             console.log('afterShow');
            //             $(this).children().hide();
            //         })
            //         .show(1000, function () {
            //             console.log('in show callback');
            //         })
            //         .show();
            // });

        });

    </script>

    <script>

        if ($(".slider").get(0)) {
            Split(['.slider', '.right-wrapper'], {
                sizes: [20, 80],
                minSize: 400,
            })
            Split(['.left-main', '.right-main'], {
                sizes: [50, 50],
                minSize: 300,
                // direction: "vertical",
                // cursor: 'row-resize',
                // expandToMin: false
            })
        }
    </script>


    </body>
    </html>
{{ end }}