{{ define "clusterForm" }}
    {{ template "header" . }}
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="top-main">
                <div class="form-box">
                    <form method="post" action="/form-cluster" autocomplete="off">
                        <input type="hidden" name="Index" value="{{ .Object.Index }}">

                        <div class="row form-group flex-group">
                            <div class="col-sm-6">
                                <label for="Ipaddr">Наименование:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="Name" name="Name" autocomplete="off"
                                       value="{{ .Object.Name }}">
                            </div>
                        </div>
                        <div class="row form-group flex-group">
                            <div class="col-sm-2 col-sm-offset-7">
                                <a href="/" type="cancel" style="width: auto; padding-left: 20px; padding-right: 20px;">Отмена
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit"
                                        style="width: auto; padding-left: 20px; padding-right: 20px; margin-left: 10px;">
                                    {{ if ge .Object.Index 0 }}
                                        Применить
                                    {{ else }}
                                        Добавить
                                    {{ end }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}