{{ define "testForm" }}
    {{ template "header" . }}
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="top-main">
                <div class="form-box" style="width: 80%!important;">
                    <form method="post" action="{{ .Action }}" autocomplete="off">
                        <input type="hidden" name="Index" value="{{ .Base.Index }}">
                        <div class="row form-group flex-group">
                            <div class="col-sm-1">
                                <label for="Name">Наименование:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="Name" name="Name" autocomplete="off"
                                       value="{{ .Base.PublicName }}">
                            </div>
                            <div class="col-sm-1">
                                <label for="Url">URL:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="Url" name="Url" autocomplete="off"
                                       value="{{ .Object.Url }}">
                            </div>
                        </div>
                        <div class="row form-group flex-group">
                            <div class="col-sm-1">
                                <label for="QueryType">Тип запроса:</label>
                            </div>
                            <div class="col-sm-2">
                                <div class="custom-select" style="width:100%;">
                                    <select id="QueryType" name="QueryType">
                                        <option value=1 {{ if eq .Object.QueryType "POST" }} selected {{ end }}>POST
                                        </option>
                                        <option value=0 {{ if eq .Object.QueryType "GET" }} selected {{ end }}>GET
                                        </option>
                                        <option value=1 {{ if eq .Object.QueryType "POST" }} selected {{ end }}>POST
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row form-group flex-group">
                            <div class="col-sm-1 col-sm-offset-10">
                                <a href="{{ .Ref }}" type="cancel" style="width: auto; padding-left: 20px; padding-right: 20px;">Отмена
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit"
                                        style="width: auto; padding-left: 20px; padding-right: 20px; margin-left: 10px;">
                                    {{ if ge .Base.Index 0 }}
                                        Применить
                                    {{ else }}
                                        Добавить
                                    {{ end }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}