{{ define "partForm" }}
    {{ template "header" . }}
    <script language="Javascript" type="text/javascript" src="js/editarea_0_8_2/edit_area/edit_area_full.js"></script>
    <script language="Javascript" type="text/javascript">
        // initialisation
        editAreaLoader.init({
            id: "Script"	// id of the textarea to transform
            , start_highlight: true	// if start with highlight
            , allow_resize: "y"
            , allow_toggle: false
            , word_wrap: true
            , language: "ru"
            , syntax: "js"
        });
    </script>
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="top-main">
                <div class="form-box" style="width:50%!important;">
                    <form method="post" action="/form-part" autocomplete="off">
                        <input type="hidden" name="PartIndex" value="{{ .Base.Index }}">
                        <input type="hidden" name="TestIndex" value="{{ .Object.TestIndex }}">
                        <div class="row form-group flex-group">
                            <div class="col-sm-2">
                                <label for="Name">Наименование:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="Name" name="Name" autocomplete="off"
                                       value="{{ .Base.PublicName }}">
                            </div>
                        </div>
                        <div class="row form-group flex-group">
                            <div class="col-sm-2">
                                <label for="Url">Код теста:</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea rows="15" type="text" id="Script" name="Script" autocomplete="off"
                                          class="text-input textarea-feature">{{ .Object.Script }}</textarea>
                            </div>
                        </div>
                        <div class="row form-group flex-group">
                            <div class="col-sm-1 col-sm-offset-9">
                                <a href="/" type="cancel" style="width: auto; padding-left: 20px; padding-right: 20px;">Отмена
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit"
                                        style="width: auto; padding-left: 20px; padding-right: 20px; margin-left: 10px;">
                                    {{ if ge .Base.Index 0 }}
                                        Применить
                                    {{ else }}
                                        Добавить
                                    {{ end }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}