{{ define "parameterForm" }}
    {{ template "header" . }}
    <script language="Javascript" type="text/javascript" src="js/editarea_0_8_2/edit_area/edit_area_full.js"></script>
    <script language="Javascript" type="text/javascript">
        // initialisation
        editAreaLoader.init({
            id: "Trigger"	// id of the textarea to transform
            , start_highlight: true	// if start with highlight
            , allow_resize: "y"
            , allow_toggle: false
            , word_wrap: true
            , language: "ru"
            , syntax: "js"
        });
    </script>
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="top-main">
                <div class="form-box" style="width: 80%!important;">
                    <form id="server" method="post" action="{{ .Action }}" autocomplete="off">
                        <input type="hidden" name="Index" value="{{ .Base.Index }}">
                        <input type="hidden" name="ServiceIndex" value="{{ .Base.Parent }}">
                        <input type="hidden" name="ServerIndex" value="{{ .Base.Root }}">
                        <div class="row form-group flex-group">
                            <div class="col-sm-1">
                                <label for="Key">Метрика:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="Key" name="Key" autocomplete="off"
                                       value="{{ .Object.Key }}">
                            </div>
                            <div class="col-sm-1">
                                <label for="Alias">Наименование:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="Alias" name="Alias" autocomplete="off"
                                       value="{{ .Object.Alias }}">
                            </div>
                        </div>
                        <div class="row form-group flex-group">
                            <div class="col-sm-1">
                                <label for="Name">Имя переменной:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="Name" name="Name" autocomplete="off"
                                       value="{{ .Object.Name }}">
                            </div>
                            <div class="col-sm-2">
                                <label for="Novisible">Исключить из обработки:</label>
                            </div>
                            <div class="col-sm-1">
                                <div class="custom-select" style="width:100%;">
                                    <select id="Novisible" name="Novisible">
                                        <option value=0 {{ if eq .Object.Novisible false }} selected {{ end }}>Нет
                                        </option>
                                        <option value=0 {{ if eq .Object.Novisible false }} selected {{ end }}>Нет
                                        </option>
                                        <option value=1 {{ if eq .Object.Novisible true }} selected {{ end }}>Да
                                        </option>
                                    </select>
                                </div>
                                {{/*                                <input type="text" id="Novisible" name="Novisible" autocomplete="off"*/}}
                                {{/*                                       value="{{ .Object.Novisible }}">*/}}
                            </div>
                            <div class="col-sm-2">
                                <label for="Active">Пассивная метрика:</label>
                            </div>
                            <div class="col-sm-1">
                                <div class="custom-select" style="width:100%;">
                                    <select id="Active" name="Active">
                                        <option value=0 {{ if eq .Object.Active false }} selected {{ end }}>Нет
                                        </option>
                                        <option value=0 {{ if eq .Object.Active false }} selected {{ end }}>Нет
                                        </option>
                                        <option value=1 {{ if eq .Object.Active true }} selected {{ end }}>Да
                                        </option>
                                    </select>
                                </div>
                                {{/*                                <input type="text" id="Active" name="Active" autocomplete="off"*/}}
                                {{/*                                       value="{{ .Object.Active }}">*/}}
                            </div>
                        </div>
                        <div class="row form-group flex-group">
                            <div class="col-sm-1">
                                <label for="Trigger">Код теста:</label>
                            </div>
                            <div class="col-sm-11">
                                <textarea rows="15" type="text" id="Trigger" name="Trigger" autocomplete="off"
                                          class="text-input textarea-feature">{{ .Object.Trigger }}</textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="row form-group flex-group">
                            <div class="col-sm-1 col-sm-offset-10">
                                <a href="{{ .Ref }}" type="cancel">Отмена
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit">
                                    {{ if ge .Base.Index 0 }}
                                        Применить
                                    {{ else }}
                                        Добавить
                                    {{ end }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}

