{{ define "deleteForm" }}
    {{ template "header" . }}
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="top-main" style="display: inline-block; overflow-x: hidden; overflow-y: auto;">
                <div class="form-box" style="margin: 20px auto; display: block; width: 400px; position: relative;">
                    <form method="post" action="{{ .Action }}" autocomplete="off">
                        <input type="hidden" name="Index" value="{{ .Base.Index }}">
                        <input type="hidden" name="Parent" value="{{ .Base.Parent }}">
                        <input type="hidden" name="Root" value="{{ .Base.Root }}">
                        <table>
                            <tr>
                                <td>
                                    <h4>Удалить <b style="color: inherit;">"{{ .Base.PublicName }}"</b>?</h4>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div class="text-right" style="margin-top: 30px;">
                            <a href="{{ .Ref }}" type="cancel" style="width: auto; padding-left: 20px; padding-right: 20px;">Отмена
                            </a>
                            <button type="submit"
                                    style="width: auto; padding-left: 20px; padding-right: 20px; margin-left: 10px;">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}