{{ define "serviceForm" }}
    {{ template "header" . }}
    <script language="Javascript" type="text/javascript" src="js/editarea_0_8_2/edit_area/edit_area_full.js"></script>
    <script language="Javascript" type="text/javascript">
        // initialisation
        // editAreaLoader.init({
        //     id: "JSON"	// id of the textarea to transform
        //     , start_highlight: false	// if start with highlight
        //     , allow_resize: "y"
        //     , allow_toggle: false
        //     , word_wrap: true
        //     , language: "ru"
        //     , syntax: "js"
        //     , EA_load_callback: function () {
        //         alert("1");
        //         console.log("loaded..", e);
        //     }
        //     , load_callback: function () {
        //         alert("1");
        //         console.log("loaded..", e);
        //     }
        // });
    </script>
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="top-main">
                <div class="form-box" style="width: 80%!important;">
                    <form id="server" method="post" action="{{ .Action }}" autocomplete="off">
                        <input type="hidden" name="Index" value="{{ .Base.Index }}">
                        <input type="hidden" name="ServerIndex" value="{{ .Base.Parent }}">
                        <div class="row form-group flex-group">
                            <div class="col-sm-1">
                                <label for="Ipaddr">Наименование:</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" id="Name" name="Name" autocomplete="off"
                                       value="{{ .Base.PublicName }}">
                            </div>
                            <div class="col-sm-2">
                                {{ if eq .Base.Index -1 }}
                                    <label for="CreateFromJSON">Импорт из JSON:</label>
                                {{ else }}
                                    <label for="CreateFromJSON">Обновить как JSON:</label>
                                {{ end }}
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" name="CreateFromJSON" id="CreateFromJSON">
                            </div>
                        </div>
                        <div class="row form-group flex-group" id="JSONEditor">
                            <div class="col-sm-1">
                                <label for="JSON">JSON:</label>
                            </div>
                            <div class="col-sm-11">
                                <textarea rows="15" type="text" id="JSON" name="JSON" autocomplete="off"
                                          class="text-input textarea-feature">{{ .Body }}</textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="row form-group flex-group">
                            <div class="col-sm-2  col-sm-offset-7 text-right">
                                {{ if eq .Base.Index -1 }}
                                    <label for="AddToAll">Добавить ко всем серверам:</label>
                                {{ else }}
                                    <label for="AddToAll">Обновить все одноименные у всех серверов:</label>
                                {{ end }}
                            </div>
                            <div class="col-sm-1">
                                <input type="checkbox" name="AddToAll" id="AddToAll">
                            </div>
                            <div class="col-sm-1">
                                <a href="{{ .Ref }}" type="cancel">Отмена
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit">
                                    {{ if ge .Base.Index 0 }}
                                        Применить
                                    {{ else }}
                                        Добавить
                                    {{ end }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}


{{/*<div class="row form-group flex-group">*/}}
{{/*    <div class="col-sm-6">*/}}

{{/*    </div>*/}}
{{/*    <div class="col-sm-6">*/}}

{{/*    </div>*/}}
{{/*</div>*/}}
{{/*<div class="row form-group flex-group">*/}}
{{/*    <div class="col-sm-2 col-sm-offset-7">*/}}

{{/*    </div>*/}}
{{/*    <div class="col-sm-3">*/}}

{{/*    </div>*/}}
{{/*</div>*/}}