{{ define "envForm" }}
    {{ template "header" . }}
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="top-main">
                <div class="form-box" style="width: 60%!important;">
                    <form method="post" action="{{ .Action }}" autocomplete="off">
{{/*                        <input type="hidden" name="Index" value="{{ .Base.Index }}">*/}}
                        <div class="row form-group flex-group">
                            <div class="col-sm-1">
                                <label for="Name">Ключ:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="Key" name="Key" autocomplete="off"
                                       value="{{ .Object.Key }}">
                            </div>
                            <div class="col-sm-1">
                                <label for="Url">Значение:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="Value" name="Value" autocomplete="off"
                                       value="{{ .Object.Value }}">
                            </div>
                        </div>
                        <hr>
                        <div class="row form-group flex-group">
                            <div class="col-sm-1 col-sm-offset-10">
                                <a href="{{ .Ref }}" type="cancel" style="width: auto; padding-left: 20px; padding-right: 20px;">Отмена
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit"
                                        style="width: auto; padding-left: 20px; padding-right: 20px; margin-left: 10px;">
                                    {{ if ne .Object.Key "" }}
                                        Применить
                                    {{ else }}
                                        Добавить
                                    {{ end }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}