{{ define "serverForm" }}
    {{ template "header" . }}
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="top-main">
                <div class="form-box">
                    <form id="server" method="post" action="{{ .Action }}" autocomplete="off">
                        <input type="hidden" name="Index" value="{{ .Base.Index }}">
                        <div class="row form-group flex-group">
                            <div class="col-sm-6">
                                <label for="Ipaddr">IP адрес сервера, включая порт:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="Ipaddr" name="Ipaddr" autocomplete="off"
                                       value="{{ .Object.Ipaddr }}">
                            </div>
                        </div>
                        <div class="row form-group flex-group">
                            <div class="col-sm-6">
                                <label for="Cluster">Кластер:</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="custom-select" style="width:100%;">
                                    <select name="Cluster" form="server">
                                        {{ if or (eq .Object.Cluster -1) (eq .Object.Cluster 100) }}
                                            <option value="-1">выбрать:</option>
                                        {{ else }}
                                            <option value="{{ .Object.Cluster }}">{{ index .AppConfig.Clusters .Object.Cluster }}</option>
                                        {{ end }}
                                        {{ with .AppConfig }}
                                            {{ range $i, $c := .Clusters}}
                                                <option value="{{ $i}}">{{ $c}}</option>
                                            {{end }}
                                        {{ end }}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group flex-group">
                            <div class="col-sm-6">
                                <label for="Alias">Наименование:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="Alias" name="Alias" autocomplete="off"
                                       value="{{ .Base.PublicName }}">
                            </div>
                        </div>
                        <hr>
                        <div class="row form-group flex-group">
                            <div class="col-sm-2 col-sm-offset-7">
                                <a href="{{ .Ref }}" type="cancel">Отмена
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit">
                                    {{ if ge .Base.Index 0 }}
                                        Применить
                                    {{ else }}
                                        Добавить
                                    {{ end }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}


{{/*<div class="row form-group flex-group">*/}}
{{/*    <div class="col-sm-6">*/}}

{{/*    </div>*/}}
{{/*    <div class="col-sm-6">*/}}

{{/*    </div>*/}}
{{/*</div>*/}}
{{/*<div class="row form-group flex-group">*/}}
{{/*    <div class="col-sm-2 col-sm-offset-7">*/}}

{{/*    </div>*/}}
{{/*    <div class="col-sm-3">*/}}

{{/*    </div>*/}}
{{/*</div>*/}}