{{ define "groupPage" }}
    {{ template "header" . }}
    {{ $account := .Account }}
    <div class="container-fluid wrap">
        <div class="main-page" style="padding-left:15px; display: flex; flex-direction: column;">
            <div class="nice-box text-left"
                 style="margin-bottom: 5px!important; font-weight: bold; font-size: 18px!important; color: #b8ec79;">
                <a href="/server?s={{ .Base.Parent }}"><i class="glyphicon glyphicon-dashboard" style="padding-right: 30px; "></i></a>
                {{ .Base.PublicName }}
                {{ if eq .Account.Type 1}}
                    <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 10px;">
                        <a href="/form-parameter?s={{ .Base.Parent }}&v={{ .Base.Index }}"><i class="glyphicon glyphicon glyphicon-plus"
                                                                    title="Добавить параметр"></i></a>
                    </div>
                    <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                        <a href="/delete-service?s={{ .Base.Parent }}&v={{ .Base.Index }}"><i
                                    class="glyphicon glyphicon glyphicon-trash"
                                    title="Удалить сервис"></i></a>
                    </div>
                    <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 10px;">
                        <a href="/form-service?s={{ .Base.Parent }}&v={{ .Base.Index }}"><i
                                    class="glyphicon glyphicon glyphicon-edit"
                                    title="Редактировать сервис"></i></a>
                    </div>
                {{ end}}
            </div>
            {{ $s := .Base.Parent }}
            {{ $v := .Base.Index }}
            <div class="top-main" style="display: inline-block; overflow-x: hidden; overflow-y: auto;">
                <table class="table"
                       style="margin-bottom: 0!important;">
                    <thead class="thead-dark">
                    <tr>
                        <th width="20%" style="text-align: left!important;">Метрика</th>
                        <th width="5%" style="text-align: left!important;">Статус</th>
                        <th style="text-align: left!important;">Извещение</th>
                        {{ if eq $account.Type 1}}
                            <th style="text-align: left!important;">Ответ агента</th>
                            <th style="text-align: right!important;"></th>
                        {{ end }}
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $pid, $p := .Object.Parameters }}
                        {{ if or (gt $p.TriggerStatus 0) (eq $account.Type 1) }}
                            <tr>
                                <td style="text-align: left!important; vertical-align: middle;">
                                    <div class="parameter-link">{{ $p.Alias }}</div>
                                </td>
                                <td style="vertical-align: middle;">
                                    {{ if eq $p.TriggerStatus 1 }}
                                        <b class="status-warning text-uppercase">WARNING</b>
                                    {{ else if eq $p.TriggerStatus 2 }}
                                        <b class="status-attention text-uppercase">ATTENTION</b>
                                    {{ else if eq $p.TriggerStatus 3 }}
                                        <b class="status-fail text-uppercase">FAIL</b>
                                    {{ else if eq $p.TriggerStatus 0 }}
                                        <b class="text-uppercase">OK</b>
                                    {{ else }}
                                        <b class="text-uppercase">{{ $p.TriggerStatus }}</b>
                                    {{ end }}
                                </td>
                                <td style="vertical-align: middle;">
                                    <div>{{ $p.Message }}</div>
                                </td>
                                <td style="vertical-align: middle;">
                                    <div>{{ $p.Value }}</div>
                                </td>
                                {{ if eq $account.Type 1}}
                                    <td style="text-align: right!important;">
                                        <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                                            <a href="/delete-parameter?s={{ $s }}&v={{ $v }}&p={{ $pid }}"><i class="glyphicon glyphicon glyphicon-trash"
                                                                                            title="Удалить параметр"></i></a>
                                        </div>
                                        <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                                            <a href="/form-parameter?s={{ $s }}&v={{ $v }}&p={{ $pid }}"><i class="glyphicon glyphicon glyphicon-edit"
                                                                                          title="Редактировать параметр"></i></a>
                                        </div>
                                    </td>
                                {{ end }}
                            </tr>
                        {{end }}
                    {{ end }}
                    </tbody>
                </table>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}