{{ define "header" }}
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>EvoBox monitor</title>
        <meta name="generator" content="Bootply"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="EvoBox monitor"/>
        <link href="bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">

        <!-- CSS code local changes -->
        <link href="css/evomon.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|PT+Sans|Bilbo&display=swap" rel="stylesheet">

        <link rel="shortcut icon" href="icons8-dashboard-32.png"/>

    </head>

    <!-- HTML code from Bootply.com editor -->

    <body>
    <div class="loadingDiv">
        <div>
            <h7>Загрузка...</h7>
        </div>
    </div>
    <!-- header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand brand"></span>
                <a href="/" class="home-link">
                    <span class="prefix high-color">E</span>
                    <span class="prefix low-color">vo</span>
{{/*                    <span class="suffix low-color">Box</span>*/}}
{{/*                    <span class="brand-coursive">&nbsp;monitoring</span>*/}}
                    <span class="brand-coursive">&nbsp;test&nbsp;desk</span>
                </a>
            </div>
            {{ if eq .Account.Authenticated  true }}
                <div class="play-bar">
                    <table>
                        <tr>
                            <td>
                                Пуск&nbsp;
                                <i class="glyphicon glyphicon-play play-bar-button play"
                                   title="Запустить мониторинг"></i>
                            </td>
                            <td>
                                Пауза&nbsp;
                                <i class="glyphicon glyphicon-pause play-bar-button pause"
                                   title="Пауза"></i>
                            </td>
                            <td>
                                Стоп&nbsp;
                                <i class="glyphicon glyphicon-stop play-bar-button stop"
                                   title="Остановить"></i>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right profile">
                        <li class="dropdown align-middle">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i
                                        class="glyphicon glyphicon-user glyph-pad-right"></i>{{ .Account.Username }}
                                <span
                                        class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="#">Профиль</a></li>
                            </ul>
                        </li>
                        <li><a href="/logout"><i class="glyphicon glyphicon-lock glyph-pad-right"></i>Выход</a></li>
                    </ul>
                </div>
            {{ end }}
        </div>
        <!-- /container -->
    </div>
    <!-- /Header -->
{{ end }}