{{ define "selector" }}
    <div class="selector" style="width: 100%; display: inline-block; vertical-align: middle;">
        <table>
            <tr>
                <td>
                    <h4>Кластер</h4>
                </td>
                <td style="width: 100%; vertical-align: middle;">
                    <div class="custom-select" style="width:100%;">
                        <select id="cluster-selector">
                            {{ if ge .AppConfig.UiClusterId 0 }}
                                <option value="{{ .AppConfig.UiClusterId }}">{{ index .AppConfig.Clusters .AppConfig.UiClusterId }}</option>
                            {{ else }}
                                <option value="-1">Все</option>
                            {{ end }}
                            {{ with .AppConfig }}
                                {{ range $i, $c := .Clusters}}
                                    <option value="{{ $i}}">{{ $c}}</option>
                                {{end }}
                            {{ end }}
                            <option value="-1">Все</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{{ end }}