{{ define "serverPage" }}
    {{ template "header" . }}
    <div class="container-fluid wrap">
        <div class="flex">
            {{ template "slider" . }}
            <!-- /col-3 -->
            <div class="right-wrapper">
                <div class="main-page flex">
                    {{ template "singleServer" . }}
                    <div class="right-main" style="min-height: 300px;">
                        {{ template "testing" . }}
                    </div>
                </div>
            </div>
            <!--/col-span-9-->
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}