{{ define "setup" }}
    {{ template "header" . }}
    {{ $accountType := .Account.Type }}
    {{/*    {{ $appconfig := .AppConfig }}*/}}
    {{/*    {{ $inc := $appconfig.Increment }}*/}}
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="top-main tabbed">
                <div class="text-left nice-box-tabbed">
                    <a href="/"><i class="glyphicon glyphicon-wrench" style="padding-right: 10px; "></i></a>
                    Настройки
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#clusters">Кластеры</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#env">Переменные окружения</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#certificate">Сертификат</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="clusters">
                        {{ template "clusters" . }}
                    </div>
                    <div class="tab-pane" id="env">
                        {{ template "envPage" . }}
                    </div>
                    <div class="tab-pane" id="certificate">
                        Сертификат...
                    </div>
                </div>
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}