{{ define "singleServer" }}
    {{ $host := .Base.PublicName }}
    {{ $account := .Account }}
    <div class="left-main" style="overflow-x: hidden; overflow-y: auto;">
        <header class="topic-caption">
            <a href="#" class="server-link">
                <i class="glyphicon glyphicon-dashboard glyph-pad-right"></i>
                {{ $host }}&nbsp;
                {{ if eq .Account.Type 1}}
                    <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                        <a href="/delete-server?s={{ .Base.Index }}"><i class="glyphicon glyphicon glyphicon-trash"
                                                                        title="Удалить сервер"></i></a>
                    </div>
                    <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                        <a href="/form-server?s={{ .Base.Index }}"><i class="glyphicon glyphicon glyphicon-edit"
                                                                      title="Редактировать сервер"></i></a>
                    </div>
                    <div style="float: right; display: inline-block; padding-top: 8px; ; margin-right: 15px;">
                        <a href="/form-service?s={{ .Base.Index }}"><i class="glyphicon glyphicon glyphicon-plus"
                                                                       title="Добавить сервис"></i></a>
                    </div>
                {{ end}}
            </a>
        </header>
        {{ $status := .Base.Status }}
        {{ $error := .Base.Error }}
        <table class="table table-dark"
               style="margin-bottom: 0!important;">
            <thead class="thead-dark">
            <tr>
                <th style="text-align: left;">Сервис</th>
                <th style="text-align: center;">Состояние</th>
                {{ if eq $account.Type 1 }}
                    <th style="text-align: center;">Кол-во метрик</th>
                {{ end }}
            </tr>
            </thead>
            <tbody>
            {{ if $error }}
                <tr>
                    <td>
                        <div class="ticket-line-text-box">
                            <h5>Нет соединения: {{ $status }}</h5>
                        </div>
                    </td>
                    <td>
                        <div class="ticket-line-glyph-box">
                            <i class="glyphicon glyphicon-alert float-right" style="color: #ff3853"
                               title="Фатальная ошибка"></i>
                        </div>
                    </td>
                </tr>
            {{ else }}
                {{ $host := .Base.Alias }}
                {{ $index := .Base.Index }}
                {{ with .Object.Services }}
                    {{ range $i, $s := . }}
                        <tr>
                            <td style="text-align: left!important; vertical-align: middle;">
                                {{ $href := (printf "/group?s=%v&v=%v" $index $i) }}
                                {{ if and (lt $s.Toggled 1) (eq $account.Type 0) }}
                                    {{ $href = "#" }}
                                {{ end }}
                                <a href="{{ $href}}"
                                   data-server="{{ $index }}"
                                   data-group="{{ $s }}"
                                   class="group-link"
                                        {{ if and (lt $s.Toggled 1) (eq $account.Type 0) }}
                                    style="cursor: default;"
                                        {{ end }}>{{ $s.Name }} </a>
                            </td>
                            <td style="vertical-align: middle; text-align: center;">
                                {{ $warnings := $s.StatusTypeCount 1 }}
                                {{ $attentions := $s.StatusTypeCount 2 }}
                                {{ $fails := $s.StatusTypeCount 3 }}
                                {{ if gt $s.Toggled 0 }}
                                    {{ if gt $fails 0 }}
                                        <b class="status-fail text-uppercase">FAIL</b>
                                    {{ else if gt $attentions 0 }}
                                        <b class="status-attention text-uppercase">ATTEN</b>
                                    {{ else if gt $warnings 0 }}
                                        <b class="status-warning text-uppercase">WARN</b>
                                    {{ end }}
                                {{ else }}
                                    <b>OK</b>
                                {{ end}}
                            </td>
                            {{ if eq $account.Type 1 }}
                                <td style="text-align: center;">{{ len $s.Parameters }}</td>
                            {{ end }}
                        </tr>
                    {{ end }}
                {{ end }}
            {{ end }}
            </tbody>
        </table>
    </div>
{{ end }}