{{ define "slider" }}
    <div class="slider" style="padding-right:15px;">
        <!-- Left column -->
        <div class="padding-20">
            <a href="/setup"><strong><i class="glyphicon glyphicon-wrench glyph-pad-right"></i>Настройки</strong></a>
        </div>
        <br>
        {{ template "selector" . }}
        <br>
        <br>
        <br>
        <ul class="nav nav-stacked">
            <li class="nav-header">
                {{ $appconfig := .AppConfig }}
                {{ $inc := $appconfig.StartIncrementer }}
                {{ $currCluster := .AppConfig.UiClusterId }}
                {{ with .AppConfig.Servers }}
                    {{ range $index, $item := . }}
                        {{ if and (ge $currCluster 0) (ne $item.Cluster $currCluster) }}
                        {{ else }}
                            {{ $ipaddr := .Ipaddr }}
                            {{ $port := .Port }}
                            {{ $error := .Error }}
                            {{ $status := .Status }}
                            {{ $warnings := $item.StatusTypeCount 1 }}
                            {{ $attentions := $item.StatusTypeCount 2 }}
                            {{ $fails := $item.StatusTypeCount 3 }}
                            {{ $agent_hostname := .AgentHostname }}
                            {{ $state := "lost" }}
                            {{ $title := "Соединения нет" }}
                            <table>
                                <tr>
                                    <td class="server-line" style="width: 42px;">
                                        <a href="/server?s={{$index}}">
                                            {{ if eq $error false }}
                                                {{ if gt $fails 0 }}
                                                    {{ $state = "fail" }}
                                                    {{ $title = "Фатальная ошибка" }}
                                                {{ else if gt $attentions 0 }}
                                                    {{ $state = "atten" }}
                                                    {{ $title = "Предупреждение" }}
                                                {{ else if gt $warnings 0 }}
                                                    {{ $state = "warn" }}
                                                    {{ $title = "Внимание" }}
                                                {{ else }}
                                                    {{ $state = "ok" }}
                                                    {{ $title = "Ошибок нет" }}
                                                {{ end }}
                                            {{ end }}
                                            <div class="state-label {{ $state }}"
                                                 title={{ $title }} data-state-point="{{$inc}}"
                                                 data-state="{{ $state }}"></div>
                                        </a>
                                    </td>
                                    <td class="server-line" style="width: 70%; padding-left: 10px;">
                                        <a href="/server?s={{$index}}" class="text-uppercase header server-link"
                                           data-server="{{ $index }}">
                                            {{- .Alias }}
                                        </a>
                                    </td>
                                    <td style="padding-right: 20px; font-size: 13px; width: 30%; text-align: right;">
                                        {{ if and (ge .Cluster 0) (ne .Cluster 100) ($appconfig.Clusters) }}
                                            {{ index $appconfig.Clusters .Cluster }}
                                        {{ end }}
                                    </td>
                                    <td class="server-line">
                                        <div data-toggle="collapse"
                                             data-target="#server-{{$index}}" aria-expanded="true"
                                             data-info-toggle="{{$inc}}">
                                            ...
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            {{ $inc = $appconfig.NextIncrement }}
                            <ul class="nav nav-stacked collapse server-short-info" id="server-{{$index}}">
                                <li class="active">
                                    <a href="#"><i class="glyphicon glyphicon-random glyph-pad-right"></i>
                                        {{ $ipaddr }}
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#"><i class="glyphicon glyphicon-link glyph-pad-right"></i>
                                        {{ $port }}
                                    </a>
                                </li>
                                <li class="active">
                                    {{ $img := "glyphicon-comment"}}
                                    {{ if $error }}
                                        {{ $img =  "glyphicon-alert" }}
                                    {{ end }}
                                    <a href="#"><i class="glyphicon {{ $img }} glyph-pad-right"></i>
                                        {{ $status }}
                                    </a>
                                </li>
                            </ul>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </li>
        </ul>
        <br>
    </div>
{{ end }}