{{ define "testing" }}
    <div class="nice-box text-left topic-caption">
        <i class="glyphicon glyphicon-tasks" style="padding-right: 30px; "></i>
        Тестирование API
        {{ if eq .Account.Type 1}}
            <div style="float: right; display: inline-block; padding-top: 3px;">
                <a href="/form-test"><i class="glyphicon glyphicon glyphicon-plus"
                                        title="Добавить тест"></i></a>
            </div>
        {{ end}}
    </div>
    <div class="tool-box text-left">
        <div style="float: right; display: inline-block; margin: 4px 8px 0 0;">
            <div class="tree-branch save" data-toggle="collapse" data-target="[id*='test-']" aria-expanded="false"
                 title="Развернуть все"></div>
        </div>
    </div>
    {{ $appconfig := .AppConfig }}
    {{ $inc := $appconfig.Increment }}
    <div class="topic-body">
        <ul class="nav nav-stacked">
            <li class="nav-header">
                {{ with .AppConfig.Tests }}
                    {{ $state := "ok" }}
                    {{ $title := "Ошибок нет"}}
                    {{ range $index, $item := . }}
                        <table style="margin-bottom: 9px;">
                            <tr>
                                <td style="width: 42px;">
                                    <a href="/test?t={{$index}}">
                                        {{ if eq $item.HaveError true }}
                                            {{ $state = "fail" }}
                                            {{ $title = "Фатальная ошибка"}}
                                        {{ end }}
                                        <div class="state-label {{ $state }}" title="{{ $title }}"
                                             data-state-point="{{$inc}}" data-state="{{ $state }}"></div>
                                    </a>
                                </td>
                                <td style="width: 100%; padding-left: 10px;">
                                    <a href="/test?t={{$index}}" class="header server-link"
                                       data-server="{{ $index }}">
                                        {{- .Name }}
                                    </a>
                                </td>
                                <td style="cursor: pointer;">
                                    <div data-toggle="collapse"
                                         data-target="#test-{{$index}}" aria-expanded="true"
                                         data-info-toggle="{{$inc}}">
                                        ...
                                    </div>
                                </td>
                            </tr>
                        </table>
                        {{ $inc = $appconfig.NextIncrement }}
                        <ul class="nav nav-stacked collapse server-short-info" id="test-{{$index}}">
                            {{ range $i, $p := $item.TestParts }}
                                <table style="margin-left: 36px; margin-bottom: 9px;">
                                    <tr>
                                        <td style="text-align: left!important; vertical-align: middle;">
                                            <a href="/test?t={{$index}}">
                                                {{ if eq $p.Result true }}
                                                    {{ $state = "fail" }}
                                                    {{ $title = "Фатальная ошибка"}}
                                                {{ end }}
                                                <div class="state-label {{ $state }}"
                                                     title="{{ $title }}" data-state-point="{{ $inc}}"
                                                     data-state="{{ $state }}"></div>
                                                {{ $inc = $appconfig.NextIncrement }}
                                            </a>
                                        </td>
                                        <td style="padding-left: 10px; vertical-align: middle;">
                                            <a href="/test?t={{$index}}" class="header server-link"
                                               data-server="{{ $index }}">
                                                {{- $p.Name }}
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            {{ end }}
                        </ul>
                    {{ end }}
                {{ end }}
            </li>
        </ul>
    </div>
{{ end }}