{{ define "testPage" }}
    {{ template "header" . }}
    {{ $accountType := .Account.Type }}
    {{ $appconfig := .AppConfig }}
    {{ $inc := $appconfig.Increment }}
    <div class="container-fluid wrap">
        <div class="main-page" style="display: flex; flex-direction: column;">
            <div class="nice-box text-left"
                 style="margin-bottom: 5px!important; font-weight: bold; font-size: 18px!important; color: #b8ec79;">
                <a href="/"><i class="glyphicon glyphicon-tasks" style="padding-right: 30px; "></i></a>
                {{ .Base.PublicName }}
                {{ if eq .Account.Type 1}}
                    <div style="float: right; display: inline-block; padding-top: 5px; margin-right: 10px;">
                        <a href="/form-part?t={{ .Base.Index }}"><i class="glyphicon glyphicon glyphicon-plus"
                                                                    title="Добавить проверку"></i></a>
                    </div>
                    <div style="float: right; display: inline-block; padding-top: 5px; margin-right: 15px;">
                        <a href="/delete-test?t={{ .Base.Index }}"><i
                                    class="glyphicon glyphicon glyphicon-trash"
                                    title="Удалить"></i></a>
                    </div>
                    <div style="float: right; display: inline-block; padding-top: 5px; margin-right: 10px;">
                        <a href="/form-test?t={{ .Base.Index }}"><i
                                    class="glyphicon glyphicon glyphicon-edit"
                                    title="Редактировать"></i></a>
                    </div>
                    <div style="float: right; display: inline-block; padding-top: 5px; margin-right: 10px;">
                        <a href="/test?t={{ .Base.Index }}&r=1"><i
                                    class="glyphicon glyphicon glyphicon glyphicon-play"
                                    title="Тестировать"></i></a>
                    </div>
                {{ end}}
            </div>
            <div class="top-main" style="display: inline-block; overflow-x: hidden; overflow-y: auto;">
                <table class="table"
                       style="margin-bottom: 0!important;">
                    <thead class="thead-dark">
                    <tr>
                        <th width="20%" style="text-align: left!important;">Проверка</th>
                        <th width="20%" style="text-align: left!important;">Статус</th>
                        <th style="text-align: left!important;">Ошибка</th>
                        {{ if eq $accountType 1}}
                            <th style="text-align: left!important;"></th>
                        {{ end}}
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $i, $p := .Object.TestParts }}
                        <tr>
                            <td style="text-align: left!important; vertical-align: middle;">
                                <div class="parameter-link">{{ $p.Name }}</div>
                            </td>
                            <td style="vertical-align: middle;">
                                {{ $state := "ok" }}
                                {{ $title := "Ошибок нет"}}
                                {{ if eq $p.Result true }}
                                    {{ $state = "fail" }}
                                    {{ $title = "Фатальная ошибка"}}
                                {{ end }}
                                <div class="state-label {{ $state }}" title="{{ $title }}"
                                     data-state-point="{{$inc}}" data-state="{{ $state }}"></div>
                            </td>
                            <td style="vertical-align: middle;">
                                <div>{{ $p.Error }}</div>
                            </td>
                            {{ if eq $accountType 1}}
                                <td style="vertical-align: middle;">
                                    <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                                        <a href="/delete-part?t={{ $p.TestIndex }}&p={{ $i }}"><i
                                                    class="glyphicon glyphicon glyphicon-trash"
                                                    title="Удалить"></i></a>
                                    </div>
                                    <div style="float: right; display: inline-block; padding-top: 8px; margin-right: 15px;">
                                        <a href="/form-part?t={{ $p.TestIndex }}&p={{ $i }}"><i
                                                    class="glyphicon glyphicon glyphicon-edit"
                                                    title="Редактировать"></i></a>
                                    </div>
                                </td>
                            {{ end}}
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
                {{ $inc = $appconfig.NextIncrement }}
            </div>
            <div class="bottom-main" style="display: inline-block; width: 100%; min-height: 300px;">
                <div class="text-left"
                     style="margin-bottom: 5px!important; font-weight: bold; font-size: 18px!important; color: #b8ec79; padding: 12px;">
                    <i class="glyphicon glyphicon-download-alt" style="padding-right: 30px; "></i>
                    Ответ сервера:
                </div>
                <table class="table"
                       style="margin-bottom: 0!important;">
                    <tbody>
                    <tr>
                        <td style="text-align: left!important; vertical-align: middle;">
                            {{ .Object.Result }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /Main -->
    {{ template "footer" . }}
{{ end }}